* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-image: url('../Images/aal.jpg');
    height: 275px;
    width: 100%;
    margin-bottom: 3px;
}

.bg p {
    background-color: blue;
    color: white;
    padding: 8px;
    text-align: center;
}

h2 {
    color: blueviolet;
}

li {
    margin-left: 30px;
}

p {
    padding: 5px;
}

.button {
    text-align: center;
}

    .button button {
        padding: 10px;
        background-color: dodgerblue;
        width: 300px;
        text-align: center;
        color: white;
        margin-top: 4px;
    }
